/* MENU */
ul.menu>li>a{
	display: block;
	text-decoration: none;
	cursor:default;
}

ul.menu>li>ul{
	overflow: hidden;
	transition: .7s all ease-in;
	max-height: 0;
} 

ul.menu>li:HOVER>ul{
	transition: .7s all ease-in;
	max-height: 300px;
	text-decoration: none;
}

ul.menu>li>ul>li>ul{
	overflow: hidden;
	transition: .7s all ease-in;
	max-height: 0;
	text-decoration: none;
} 

ul.menu>li>ul>li:HOVER>ul{
	transition: .7s all ease-in;
	max-height: 300px;
}

ul.menu>li>ul>li:hover>a{
/*     color: black;
    font-weight: bolder; */
    text-decoration: none;
    background: #90CAF9;
    cursor:default;
}

ul.menu>li>ul>li>ul>li:hover>a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background: #BBDEFB;
    cursor:pointer;
}

ul.menu>li>ul>li:hover>a.link.res{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background: #BBDEFB;
    cursor:pointer;
}

.menu{
    padding: 0px;
    margin: 0px;
    margin-top:5px;
    border-radius: 5px;
    position:fixed;
}

.menu a{
    border-radius: 2px;
    background: #2196F3;
    padding-left: 10px;
    padding-right: 5px;
    color: gainsboro;
    height: 35px;
    line-height: 30px;
}

/* LOGIN */
.login{
	border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    height: 250px;
    border: solid;
    background: gainsboro;
    padding-top: 20px;
    border-color: gainsboro;
    margin-top: 130px;
}

.login h2{
    text-align: center;
    color: #868e96;
}

.login button{
    margin-top: 15px;
}

.login input{
    margin-top: 5px;
}


/* BOTONES */

.btnEliminar:HOVER{
	background: red;
	border-color: red;
}

.btnEliminar{
	background: white;
	border-color: red;
	color:red;
	cursor:pointer;
}

.iconoLogin{
  margin-top: 5px;
  width: 35px;
}


.link{
    text-decoration: none;
    display: block;
    color:#868e96;
    padding: 0px;
    margin: 0px;
    text-align: left;
}


/* CONTENEDOR */

.contenedor{
    width: 100%;
    display: inline-block;
    padding-top:65px;
}

.contenedor .menu{
    width: 100%;
}

.contenedor ul{
    list-style: none;

}

.contenedor ul ul{
    padding: 0px;
    margin: 0px;
}

.contenedor ul ul ul{
    padding: 0px;
    margin: 0px;
}


.contenedor .menu .icono{
    font-size: 12px;
    line-height: 1.5;
}

.contenedor .menu .icono.izquierda{
  float: left;
  margin-right: 10px;
  line-height: 30px;
}

.icono.izquierda{
  float: left;
  margin-right: 5px;
  line-height: 25px; 
}

.contenedor .menu .icono.derecha{
    float: right;
    margin-left: 10px;
    line-height: 30px;
    
}

.iconoInicio{
	float: center;
	padding-top: -10px;
	cursor: pointer;
	line-height: 30px;	
}


.contenedor .menu ul{
/*     display: none; */
    
}


/* MIGAJA DE PAN */

.migajaPan{
	background: #2196F3;
	border-radius: 5px;
	height: 40px;
	padding: 5px;
}



/* SUBMENU */
.contenedor .menu ul li a{
    background: #E0E0E0;
    color: #90A4AE;
    padding-left: 15px;
    font-size: 15px;
} 

/* SUBSUBMENU */
.contenedor .menu ul li ul li a{
    background: #E0E0E0;
    font-size: 14px;
    padding-left: 25px;
}


/* CAJA */
.caja.izquierda{
    width: 150px;
    float: left;
    border:solid;
    border-radius: 10px;
    color: white;
    background: #2196F3;
    margin-right:50px;
    border-color: #2196F3;
    padding-left: 20px;
}

.caja.izquierda a{
    color: gainsboro;
}

.caja.izquierda:hover a{
    cursor:pointer;
}

.caja.derecha.salir{
    width: 75px;;
    float: right;
    height: 30px;
    text-align: left;
    background: white;
    margin-right: 10px;
    padding-left: 5px;
    border: solid;
    color: red;
    border-color:red;
    border-radius: 10px;
    padding-top:0px;
}

.caja.derecha.salir:hover{
    text-decoration: none;
    color:white;
    border-color:red;
    background: red;
    cursor: pointer;
}

.caja.derecha{
    width:100%;
    float: right;
  	height:50px;
    text-align: right;
    margin-right:10px;
    color: #0b6fbf;
    padding-top:10px;
    /*border: solid;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border-color: #2196F3;
    background: #2196F3;
    */
 }

.todo{
    width: 100%;
    background: #EEEEEE;
    padding-top:5px;
    margin: 0px;
    height: auto;
}

/* PIE DE PAGINA */

.footer {
    background: #BDBDBD;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 0px;
    margin: 0px;
}

.footerTexto{
    margin: auto;
    color: white;
    line-height: 5px;
    float: left;
}


/* BIENVENIDA */

.textoBienvenida{
   text-align: center;
    font-size: 40px;
    color: #BDBDBD;
    padding: 50px;
   
}


/* FORMULARIO */

.formulario{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 5px;
    padding:20px;
    padding-left:0px;
    padding-top:5px;
    border-radius: 5px;
    background:#E0E0E0;
          
}

.tituloFormulario{
	text-align: center;
    color:#424242;
    padding: 10px;
}

.tituloFormularioRes{
	text-align: left;
    color:#424242;
    padding: 10px;
    padding-left: 10px;
}

.dia{
	margin-bottom: 20px;
}

.columnaDerecha{
    width:50%; 
    float:right;
}

.columnaIzquierda{
    width:50%; 
    float:left;
}

.botones{
    text-align: right;
    padding: 20px;
}

.boton{
    width: 100px;
    margin: 13px;
    margin-top: 50px;
    padding: 10px;
    background: #2C6CAF;
    color: white;
    border: none;
    border-radius: 5px;
    height: auto;
}

.input{
    border-radius: 5px;
}

.text{
    width: 300px;
    margin: 10px;
    
}

.titulo{
    font-size: 20px;
    margin-left: 250px;
}


/* MENSAJES */

.mensaje_error{
	display: inline-block;
	margin: 0px 30%;
	width:35%;
	
}

.mensaje_error .menu a{
    list-style: none;
    width:100%;
    position:relative; 
    border-radius: 2px;
    background: #B33A3A;
    color: gainsboro;
    line-height: 30px;
}
.mensaje_error .menu a:hover{
    background: #ce6666;
    color:white;
}
.mensaje_error .menu p{
	
    list-style: none;
    
    border-radius: 2px;
    background: #E0E0E0;
    padding-left: 10px;
    padding-right: 5px;
    color: black;
    height: 35px;
    line-height: 30px;
}
.mensaje_error .icono.derecha{
  float: right;
  margin-right: 10px;
  line-height: 30px;
}
.mensaje_error .menu .detalle_error{
    list-style: none;
    border-radius: 2px;
    background: #f5f5f5;
    padding-left: 10px;
    padding-right: 5px;
    color: black;
    height: 35px;
    line-height: 30px;
}

.tituloError{
   text-align: center;
    font-size: 20px;
    color: #BDBDBD;
    padding: 50px;
   
}


/* TABLA */
#content {
   position:absolute;
   min-height:50%;
   width:80%;
   top:20%;
   left:5%;
 }
 
.selected{
   cursor:pointer;
   background:#BDBDBD;
}

.selected:hover{
   background:rgba(0, 0, 0, 0.5);
   color:white;
}

 .seleccionada{
 color:white;
 background:#0585C0;
 
}

.seleccionada:hover{
   background-color:#0585C0;
   color:white;
}
/*CABECERA FIJA*/
.cabecera{
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed;
	z-index: 1;
	
}

/*CONFIRMACION*/
.confirmacion{
	margin:5px 0% 0% 5%;
	
}

