.login{
	border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    height: 250px;
    border: solid;
    background: gainsboro;
    padding-top: 20px;
    border-color: gainsboro;
    margin-top: 130px;
}

.login h2{
    text-align: center;
    color: #868e96;
}

.login button{
    margin-top: 15px;
}

.login input{
    margin-top: 5px;
}

.link{
    text-decoration: none;
    display: block;
    color:#868e96;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.menu{
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.menu a{
    border-radius: 20px;
    background: #2196F3;
    padding-left: 10px;
    padding-right: 5px;
    color: gainsboro;
    height: 35px;
    line-height: 30px;
}

.contenedor{
    width: 100%;
    display: inline-block;
}

.contenedor .menu{
    width: 100%;
}

.contenedor ul{
    list-style: none;

}

.contenedor ul ul{
    padding: 0px;
    margin: 0px;
}

.contenedor ul ul ul{
    padding: 0px;
    margin: 0px;
}

.contenedor .menu li a:hover{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.contenedor .menu .icono{
    font-size: 12px;
    line-height: 1.5;
}

.contenedor .menu .icono.izquierda{
  float: left;
  margin-right: 10px;
    line-height: 30px;
}

.icono.izquierda{
  float: left;
  margin-right: 5px;
  line-height: 25px; 
}

.contenedor .menu .icono.derecha{
    float: right;
    margin-left: 10px;
    line-height: 30px;
}

.contenedor .menu ul{
/*     display: none; */
    
}

/* SUBMENU */
.contenedor .menu ul li a{
    background: #E0E0E0;
    color: #90A4AE;
    padding-left: 15px;
    font-size: 15px;
} 

/* SUBSUBMENU */
.contenedor .menu ul li ul li a{
    background: #E0E0E0;
    font-size: 12px;
    padding-left: 25px;
}

.caja.izquierda{
    width: 150px;
    float: left;
    border:solid;
    border-radius: 10px;
    color: white;
    background: #2196F3;
    margin-right:50px;
    border-color: #2196F3;
    padding-left: 20px;
}

.caja.izquierda a{
    color: gainsboro;
}

.caja.derecha.salir{
    width: 75px;;
    float: right;
    height: 30px;
    text-align: left;
    background: red;
    margin-right: 10px;
    padding-left: 5px;
    color: white;
    border-color:red;
    border-radius: 10px;
}

.caja.derecha.salir:hover{
    text-decoration: none;
    color:red;
    border-color:red;
    background: white;
}

.caja.derecha{
    width: 300px;;
    float: right;
    height: 30px;
    text-align: left;
    border: solid;
    margin-right: 10px;
    padding-left: 5px;
    border-radius: 10px;
    border-color: #2196F3;
    background: #2196F3;
    color: gainsboro;
}

.todo{
    width: 100%;
    background: #EEEEEE;
    padding: 0px;
    margin: 0px;
    height: auto;
}

/* PIE DE PAGINA */

.footer {
    background: #BDBDBD;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 0px;
    margin: 0px;
}

.footerTexto{
    margin: auto;
    color: white;
    line-height: 5px;
    float: left;
}

/* BIENVENIDA */

.textoBienvenida{
   text-align: center;
    font-size: 40px;
    color: white;
    padding: 50px;
   
}


/* FORMULARIO */

.formulario{
    background:#EEEEEE; 
    width: 900px;
    height: auto;
    margin: 100px auto;
    padding-left:20px;
    padding-top: 10px;
    border-radius: 5px;
      
}

.columnaDerecha{
    width:50%; 
    float:right;
}

.columnaIzquierda{
    width:50%; 
    float:left;
}

.botones{
    text-align: center;
    clear: both;
}

.boton{
    width: 100px;
    margin: 13px;
    margin-top: 50px;
    padding: 10px;
    background: #2C6CAF;
    color: white;
    border: none;
    border-radius: 5px;
    height: auto;
}

input{
    border-radius: 5px;
}

.text{
    width: 300px;
    margin: 10px;
    
}

.titulo{
    font-size: 20px;
    margin-left: 250px;
}


/* TABLA */
.Table {  
   display: table;  
   margin: 0 auto;
   
}  
  
.Title {  
   display: table-caption;  
   text-align: center;  
   font-weight: bold;  
   font-size: larger;  
}  
  
.Heading {  
  display: table-row;  
  font-weight: bold;  
  text-align: center;  
}  
  
.Row{  
  display: table-row;  
}  
  
.Cell{  
  display: table-cell;  
  border: solid;  
  border-width: thin;  
  padding-left: 5px;  
  padding-right: 5px;  
 }

.hrVertical{ 
    border:         none;
    border-left:    1px solid;
    height:         100vh;
    width:          1px;   
    float: left;
}