.cd-accordion-menu {
	margin-top:150px;
	list-style-type: none;
	padding-left:0;
	
}

.cd-accordion-menu input[type=checkbox] {
	/* hide native checkbox */
	position: absolute;
	display: none;
	opacity: 0;
		
}

.cd-accordion-menu label, .cd-accordion-menu a {
	
	position: relative;
	display: block;
	background: #2196F3;
	color: #90CAF9;
	font-size: 1rem;
	height:40px;
	line-height: 30px;
	border-radius: 2px;
	padding-left:10px;
	text-decoration: none;
	
}
.cd-accordion-menu ul {
	/* by default hide all sub menus */
	display: none;
	
}
 
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
	/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display: block;
	list-style-type: none;
	padding-left:0;
	
}

/*AGREGADOS POR MI*/


ul .cd-accordion-menu li .has-children label ul li .has-children{ 
	  		
	background: #00ff00;
}
ul li label{
	background: #90CAF9;
}

ul li label:hover{
	cursor:pointer;
	background: #BBDEFB;
}

.has-children label{
	margin:0px;
}

/* ul.menu>li>a{
	display: block;
	text-decoration: none;
	cursor:default;
}

ul.menu>li>ul{
	overflow: hidden;
	transition: 1.0s all ease-in;
	max-height: 0;
} 

ul.menu>li:HOVER>ul{
	transition: 1.0s all ease-in;
	max-height: 300px;
	text-decoration: none;
}

ul.menu>li>ul>li>ul{
	overflow: hidden;
	transition: .7s all ease-in;
	max-height: 0;
	text-decoration: none;
} 

ul.menu>li>ul>li:HOVER>ul{
	transition: .7s all ease-in;
	max-height: 300px;
}

ul.menu>li>ul>li:hover>a{
     color: black;
    font-weight: bolder; 
    text-decoration: none;
    background: #90CAF9;
    cursor:default;
}

ul.menu>li>ul>li>ul>li:hover>a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background: #BBDEFB;
    cursor:pointer;
}

ul.menu>li>ul>li:hover>a.link.res{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background: #BBDEFB;
    cursor:pointer;
}

.menu{
    padding: 0px;
    margin: 0px;
    margin-top:5px;
    border-radius: 5px;
    position:fixed;
}

.menu a{
    border-radius: 2px;
    background: #2196F3;
    padding-left: 10px;
    padding-right: 5px;
    color: gainsboro;
    height: 35px;
    line-height: 30px;
}
 */


















/*.menujq{
	padding: 0px;
    margin: 0px;
    margin-top:140px;
    border-radius: 5px;
    position:fixed;
}
.menujq ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.menujq a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background: #D25400;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.menujq ul li a:before {
content: "\25CF\00A0 ";
width: 28px;
display: inline-block;
vertical-align: top;
}
.menujq ul li.desplegable > a:before,
.menujq ul li ul li.desplegable > a:before {
  content: "\25BA\00A0";
}
.menujq ul li.desplegable.active > a:before,
.menujq ul li ul li.desplegable.active > a:before{
  content: "\25BC\00A0 ";
}
.menujq ul ul, .menujq ul ul ul {
  display: none;
  width: 100%;
}
.menujq ul ul a {
  padding-left: 20px;
  background: #E77E23;
  text-transform: capitalize;
}
.menujq ul ul ul a {
  padding-left: 40px;
  background: #ED9C54;
  text-transform: capitalize;
}*/